<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URLS</title>
</head>
<body>
    <h2>
        URLS
    </h2> 

    Ya View hecha

    APP
        Crear urls.py
            from django.urls import path
            from . import views
            app_name= 'APP'
            urlpatterns = [
                path('desired_name_url/', views.name, name="name"),
            ]

    Project urls.py
        Conectar mapeadore URL (App.urls >> Project.urls)
            from django.urls import path, include
            path('', include('APP.urls'))

</body>
</html>