<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin and Superuser</title>
</head>
<body>
    Acceso
        Se accede agregando al URL    
        http://127.0.0.1:8000/admin/

    Creación Superusuario
        >>> python manage.py createsuperuser
        Seguir los datos (nombre, contrase, correo@)

</body>
</html>