<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linea comandos</title>
</head>
<body>
    
---------------------------------------------------------------------------
Main commands
---------------------------------------------------------------------------

ls                          List
                                -l     lista con detalles ord alphabetical
                                -r     Reverse alphabetical
                                -t     Ordena por fecha modif
                                -S     Ord by bigger to smallest
                                -h     human.+ entendible
                                -a     ver  ocultos
                                -t     Ordena por fecha modif
                                

cd                          Change directory
                                cd ..   Go up                     (absolute route)(relative route)

pwd                         Actual route

mkdir                       Make directory
touch                       Make archive.txt

cp                          Copy
                                cp archive.txt archivo_v2.txt
mv                          Move
                                mv archive.html directory/
rm                          Delete (remove)
                                -d     Directory (nothing inside)
                                -r     Remove directory & archive
                                -rf    remove force (remove anything selected)
                                -i     Interactive. Show what is removing and ask permision
                            
clear                       Clear Terminal
(ctrl + l)

(ctrl + c)                  Stop terminal process/loop
       
rm                          Rename   
                                rm archiv.html archivrename.html
                                rm directory directoryrename


---------------------------------------------------------------------------
Special commands
---------------------------------------------------------------------------
man                          command Manual

sudo

sudo apt
sudo apt install             Install something specified         sudo apt install spotify
sudo apt-get update          Look for updates
sudo apt-get upgrade         Install found updates

whoami                       Give user name

file                         Show data about file                 file archive.txt

history                      show given commands historial

nano                         open & edit archive in terminal 
cat                          show archive in terminal              cat archive.txt
more                         show archive in parts in terminal
tail                         show last archive lines (10lines default)
                                tail archive.txt - 25     (show last25 lines)


---------------------------------------------------------------------------
Short cuts commands
---------------------------------------------------------------------------

open                         Open archive with default programm
code .                       Open directory/archive in VSC (Visual Studio Code)



</body>
</html>