{% extends "Study_app\My_web\0Template_padre_EXTEND.html" %}

{% block title %}                                  {# Pestania de template padre cambiara nombre a esto #}
    Aprendiendo la herencia de Templates
{% endblock %}





{% block content%}                                 {# El body Templata padre cambiara a esto #}
<p>
    El url de Video se obtiene en YouTube: 1 compartir, 2 insertar, 3 copiar URL
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/d1-UX6aR_TM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}  