<!DOCTYPE html>
<html>

<style>
    #barra{
        padding-top: 20px;
        padding-bottom: 20px;
        text-transform: uppercase;
        background-color: green;
        color: rgb(231, 229, 227);
    }

    #barra li{
        display: inline;
        margin-left: 20px;
    }
</style>

<body>
    <ul id="barra"> 
        <li>home</li>
        <li>admin</li>
        <li>login</li>
        <li>herencia</li>
        <li>time</li>
        <li>your future age</li>
        <li>logout</li>
    </ul>
</body>
</html>


{# Barra de navegacion cruda, la inscruste con INCLUDE en la template padre#}