<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca trabajador</title>
</head>
<body>
    <h1>Busca el trabajador</h1>
    <p>Cual trabajador buscas?</p>
    <form action="/resultado_Query/", method="GET">
        <input type="text" name="query_trabajador">
        <input type="submit" value="buscar">
    </form>
</body>
</html>