<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIT</title>
</head>
<body>
    
    Directory:              Nuestra proyecto en PC
    Repository:             Git. Control de versiones en PC
    Repositorio Remoto:     Git Hub. Nube/Server
    
    
    
    Zonas en GIT
    -Directory                                  Nuestro workspace. Nuestro almacenamiento (untracked)
    -Staging Area                               Zona temporal (tracked). seleccionar, agregar mas, visualizar differencias de archivos
    -Repository/Commit                          Zona de guardado de GIT. (Guardado como versiones) 
    -Repositorio Remoto                         Guardado ya en la nuve (GITHUB, etc.)


                            Comandos
---------------------------------------------------------------------------
Generales
---------------------------------------------------------------------------

    git --version                           Ver version de git instalado

    git --help                              Manual de comandos git                       

        
---------------------------------------------------------------------------
Configuracion
---------------------------------------------------------------------------

    git config --global user.name "nombre a usar"                   Cambia o coloca Nombre de usuario (aparecera como autor en los commits)
    git config --global user.email "email@email"                    Cambia o coloca email de usuario (aparecera en los commits)

    git config --global core.editor "code --wait"                   Seleccionar editor de texto por defecto. (Visual code)
    git config --global -e                                          Ver la configuracion de GIT

    git config --list                                               Muestra la configuracion actual

    (Windows) git config --global core.autocrlf true                Windows true. Linux/Mac input. CR-Carriage Return LR- Line Feed

---------------------------------------------------------------------------
Comandos GIT
---------------------------------------------------------------------------

    git init                                                    Inicia repositorio local (Git)(crea carpeta .git).
    git init NameRepo                                           Inicia nuevo repositorio local y Nuevo Projecto

    git add file.py                                             Manda una archivo al Staging Area
    git add file.html file.py                                   Multiples archivos al Staging Area, solo separar con comas
    git add .                                                   Manda todo al Staging Area
    git rm --cached file.py                                     Elimina archivo del repositorio local (git) y Staging Area. File -> untracked 
                                                                    

    git commit                                                  File de Staging area a Repositorio local. ///Abre editor para agregar comentario. Salir Esc + shift + z + z 
    git commit -m "Comentario del commit"                       Commit con comentario. 
    git commit -am "Comentario del commit"                      git add + git commit -m     (Directorio (PC) -> Repositorio local (Git))
    git commit --amend                                          Corregir Comentario del commit. (Editor VIM)
    .                                                               :i   ENTER  Cualquier tecla --> Permite editar
    .                                                               Suprimir----------------------> Borrar comentario
    .                                                               Esc---------------------------> Salir (guardando)
    .                                                               :i   ENTER -------------------> Permite edicion. Escribir comentario
    .                                                               ENTER  -----------------------> Ingresa
    .                                                               Esc---------------------------> Salir (guardando)
    .                                                               :wq---------------------------> Salir de editor y guardar

    git status                                                  Refleja todos los files y su estado de seguimiento/commit Y la RAMA
    git status -s                                               Refleja resumidamente estado de las carpetas
    .                                                                ?? no segimiento   
    .                                                                RED no seguimiento  
    .                                                                Green En seguimiento
    .                                                                A Agregado staging area
    .                                                                M Modificado

    git log                                                     Listado de todos los commits 
                                                                    Q = exit
    git log --oneline                                           Listado id commit y comentario del commit.
    git log --decorate                                          Muestra donde esta el Head
    git log --stat                                              Listado de todos los commits especificando cantidad de cambios
    git log --graph                                             Listado de las ramas


----------Volver en el tiempo ------------------
------------------------------------------------------------------------
Posibilidad de volver al futuro.
------------------------------------------------------------------------
    git checkout #Commit                                    Volver a version previa (para ver o para modificar). No se borran los commits.

    git checkout #Commit File.txt                           Volver a version previa de Solo 1 archivo especificado sin modificar otros files.     
        ||
    git checkout master/main File.txt                       Regresa a la ultima version comiteada de un file (Rama master o main)

------------------------------------------------------------------------
SIN posibilidad de volver al futuro.
------------------------------------------------------------------------
    git reset --soft #Commit                                Restaurar a una version previa. Mantiene los add realizados a Staging area. 
    git reset --hard #Commit                                Restaurar a una version previa. Borra los commits posteriores al commit al que se regreso.    

    


----------Eliminar/Restaurar file----------------
    git reset HEAD file.py                                  Eliminar archivo del Staging Area. File Staging a Unstaged
    
    git rm --cached file.py                                 Eliminar archivo del repositorio (Git) y Staging Area. File -> untracked 
    
    git rm --force file.html                                Eliminar archivo del repositorio (Git), Staging Area y del disco duro

    git restore file.hmtl                                   Restaurar Archivo recien eliminado
    
    
----------Comparaciones--------------------------

    git show relativ_route/File.txt                         Comparando cambios del ultimo commit y su version previa de un archivo
    
    git diff #Commit_antiguo #Commit_reciente               Compara cambios de un File entre commits a elegir.
                                                                    Ver codigos con git log
    git diff                                                Compara cambios File added in staging, vs same file modif after being added  
    
       
            Lectura de comparaciones
            -----------------------------
            1 ultimo commit num/rama
            2 Autor y fecha
            3       Comentario
            4 Diff  a/viejo_file   b/Nuevo_file
            5 @@ Cantidad de bits cambiados @@

            6 Cambios   -blanco = sin cambio
                        -rojo   = Eliminado o cambiado
                        -Verde  = Nuevo


---------------------------------------------------------------------------
Evitar commit accidental de Archivo
---------------------------------------------------------------------------
    .gitignore      Evita uardar en git archivos 
                        (ej. datos de venv, ya que solo funcionan en nuestra pc)

                    Pasos
                        1 Crear en carpeta del proyecto archivo con nombre .gitignore 
                        2 Abrirlo (VSC) y escribir rutas de archivos/carpetas a ignorar
                            (ej.  venv/)




---------------------------------------------------------------------------
Ramas                           HEAD - indica la posicuin de en que rama y commit estamos trabajando
---------------------------------------------------------------------------

    git branch                                                  Muestra la rama en la que estamos
    
    git branch BranchName                                       Crear rama
    git branch -m BranchName NewBranchName                      Renombrar rama
    git branch -d BranchName                                    Eliminar rama
    git branch -D BranchName                                    Forzar la eliminación de una rama
    
    git checkout BranchName                                     Nos mueve a una rama
    git checkout -b BranchName                                  Crear rama y te mueves a ella


    git merge BranchName                                        Mezcla esa rama con la rama en la que estás








</body>
</html>