<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>GIT HUB</title>
</head>
<body>
    Directory:              Nuestra proyecto en PC
    Repository:             Git. Control de versiones en PC
    Repositorio Remoto:     Git Hub. Nube/Server




    git push                                                Sube commits de Repositio local (git) a Repositorio Remoto (GitHub)
    git push origin master
    git push -u origin BranchName                           Crea nueva rama en github y sube los commits desde Git a esa rama en github 
    
    git fetch                                               Trae cambios desde Github a repositorio local (git)  (subidos por el equipo o nuestros desde otra pc)
    git merge                                               Combina cambios descargados a git(repositorio) con nuestro Directorio (PC)
    git pull origin master                                  Trae cambios desde Github, modifica a git y modifica el Directorio (PC)) (git fetch + git merge)
    git pull origin master --allow-unrelated-histories      Permite unir dos projetos si hay confictos por ser completamente diferentes 
                                                                (ej. git hub: abc.html abc.css  y  git: dfg.js dfg.py)
                                                                

    git tag NombreTag -m "comentario de Tag"                Crear tag.     
    git push tags                                           Sube tag a Github

    git clone https://url.git                               Clonar repositorio (en Github) a una computadora (guarda a Git BASH). 
                                                            URL obtenida desde Github boton Code



    ---------------------------------------------------------------------------
    Github                   Comenzar a subir de Git (local) a Github (nube) 
    -------------------------------------------------------------------------

    Crear nuevo repositorio en GitHub
        Click en New
        Darle un nombre
        Seleccionar public/Private
        Click en Create Repository

    Subir repositorio (Git local) a GIT HUB
        Copiar las instruccions GitHub:                         git remote add          
        Pegarla en la Terminal                                  (Indica a Git (local) un servidor Remoto (URL del servidor))
        **Hacer Push                                              
        Escribir usuario                                        Usuario de log in
        
    ---------------------------------------------------------
        (**)Git push 
        Push sube 1 rama por cada push. El primer push crea la 1a Rama remota (main).
                git push -u origin main 

        Para subir otras ramas 
            Crear la rama en GITHUB.
            Movemos a la rama y hacemos push
                git checkout BranchName
                git push - u origin BranchName

    ---------------------------------------------------------------------------
    key SSH
    ---------------------------------------------------------------------------
        Escribir la key                                         
            Click en flecha a lado de foto perfil
            Ir a Settings
            ir a developer settings 
            Click Personal access tokens
            Click Generate new token
                Note - Escribir nombre
                Scope - selecionar repo
                Click Generate token

    ---------------------------------------------------------------------------
    TAGS
    ---------------------------------------------------------------------------
    Da etiquetas. Accesible en la seccion de Tags.
    Funcion para uso en GitHub para Especificar versiones, etc. y encapsula el codigo para agrega posibilidad de descarga .zip
    
        git tag NombreTag -m "comentario de Tag"                    Crear tag.     
        git push tags                                               Sube tag a Github



    ---------------------------------------------------------------------------
    Clone / Fork
    ---------------------------------------------------------------------------

    Clone
        Clonar todo el proyecto desde tu repositorio GitHub a tu git en tu computadore
        Instrucciones:
            Click en boton verde vCode
            Copiar Url proporcionado
            Abrir Git Bash y colocarte en carpeta a clonar
            git clone https://url.git 

    Fork
        Clonar el proyecto de un repositorio ajeno. Permite colaborar con otros Devs. 
        PullRequest. Propone a Dev propietario tu modificaion. (puede ver, comparar, rechazar o jalar tu version a su projecto).
        Instrucciones:
            Ingreso a projecto de GitHub externo
            Click en fork (download instantaneo a tu GitHub)
            Hacer Clonacion e iniciar su manipulacion

        Hacer PullRequest
            En projecto click en Pull Request
            click en New PullRequest
            click en creat PullRequest

        Aceptar un PullRequest
            click en Pull Request(1)
            --REvisar Modificacion click in Files changed(99)
            --Click REview changes: Chat, opciones (comment(comnetario sin aceptar), approve (merge), request changes)

</body>
</html>
